manage-kubernetes-livecoding.sh
ingress-dashboards.yaml
prometheus-config-values.yaml
deploy-wordpress/test-creds.txt
deploy-wordpress/values-production.yaml
istio-1.16.1/get_helm.sh
istio-1.16.1/LICENSE
istio-1.16.1/manifest.yaml
istio-1.16.1/README.md
istio-1.16.1/bin/istioctl
istio-1.16.1/manifests/charts/install-OpenShift.md
istio-1.16.1/manifests/charts/README.md
istio-1.16.1/manifests/charts/UPDATING-CHARTS.md
istio-1.16.1/manifests/charts/base/Chart.yaml
istio-1.16.1/manifests/charts/base/kustomization.yaml
istio-1.16.1/manifests/charts/base/README.md
istio-1.16.1/manifests/charts/base/values.yaml
istio-1.16.1/manifests/charts/base/crds/crd-all.gen.yaml
istio-1.16.1/manifests/charts/base/crds/crd-operator.yaml
istio-1.16.1/manifests/charts/base/files/gen-istio-cluster.yaml
istio-1.16.1/manifests/charts/base/templates/clusterrole.yaml
istio-1.16.1/manifests/charts/base/templates/clusterrolebinding.yaml
istio-1.16.1/manifests/charts/base/templates/crds.yaml
istio-1.16.1/manifests/charts/base/templates/default.yaml
istio-1.16.1/manifests/charts/base/templates/endpoints.yaml
istio-1.16.1/manifests/charts/base/templates/NOTES.txt
istio-1.16.1/manifests/charts/base/templates/reader-serviceaccount.yaml
istio-1.16.1/manifests/charts/base/templates/role.yaml
istio-1.16.1/manifests/charts/base/templates/rolebinding.yaml
istio-1.16.1/manifests/charts/base/templates/serviceaccount.yaml
istio-1.16.1/manifests/charts/base/templates/services.yaml
istio-1.16.1/manifests/charts/default/Chart.yaml
istio-1.16.1/manifests/charts/default/values.yaml
istio-1.16.1/manifests/charts/default/templates/mutatingwebhook.yaml
istio-1.16.1/manifests/charts/default/templates/validatingwebhook.yaml
istio-1.16.1/manifests/charts/gateway/Chart.yaml
istio-1.16.1/manifests/charts/gateway/README.md
istio-1.16.1/manifests/charts/gateway/values.schema.json
istio-1.16.1/manifests/charts/gateway/values.yaml
istio-1.16.1/manifests/charts/gateway/templates/_helpers.tpl
istio-1.16.1/manifests/charts/gateway/templates/deployment.yaml
istio-1.16.1/manifests/charts/gateway/templates/hpa.yaml
istio-1.16.1/manifests/charts/gateway/templates/NOTES.txt
istio-1.16.1/manifests/charts/gateway/templates/role.yaml
istio-1.16.1/manifests/charts/gateway/templates/service.yaml
istio-1.16.1/manifests/charts/gateway/templates/serviceaccount.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/Chart.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/NOTES.txt
istio-1.16.1/manifests/charts/gateways/istio-egress/values.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/templates/_affinity.tpl
istio-1.16.1/manifests/charts/gateways/istio-egress/templates/autoscale.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/templates/deployment.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/templates/injected-deployment.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/templates/poddisruptionbudget.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/templates/role.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/templates/rolebindings.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/templates/service.yaml
istio-1.16.1/manifests/charts/gateways/istio-egress/templates/serviceaccount.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/Chart.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/NOTES.txt
istio-1.16.1/manifests/charts/gateways/istio-ingress/values.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/templates/_affinity.tpl
istio-1.16.1/manifests/charts/gateways/istio-ingress/templates/autoscale.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/templates/deployment.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/templates/injected-deployment.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/templates/poddisruptionbudget.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/templates/role.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/templates/rolebindings.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/templates/service.yaml
istio-1.16.1/manifests/charts/gateways/istio-ingress/templates/serviceaccount.yaml
istio-1.16.1/manifests/charts/istio-cni/Chart.yaml
istio-1.16.1/manifests/charts/istio-cni/README.md
istio-1.16.1/manifests/charts/istio-cni/values.yaml
istio-1.16.1/manifests/charts/istio-cni/templates/clusterrole.yaml
istio-1.16.1/manifests/charts/istio-cni/templates/clusterrolebinding.yaml
istio-1.16.1/manifests/charts/istio-cni/templates/configmap-cni.yaml
istio-1.16.1/manifests/charts/istio-cni/templates/daemonset.yaml
istio-1.16.1/manifests/charts/istio-cni/templates/NOTES.txt
istio-1.16.1/manifests/charts/istio-cni/templates/resourcequota.yaml
istio-1.16.1/manifests/charts/istio-cni/templates/serviceaccount.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/Chart.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/kustomization.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/README.md
istio-1.16.1/manifests/charts/istio-control/istio-discovery/values.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/files/gateway-injection-template.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/files/gen-istio.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/files/grpc-agent.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/files/grpc-simple.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/files/injection-template.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/autoscale.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/clusterrole.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/clusterrolebinding.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/configmap-jwks.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/configmap.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/deployment.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/istiod-injector-configmap.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/mutatingwebhook.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/NOTES.txt
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/poddisruptionbudget.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/reader-clusterrole.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/reader-clusterrolebinding.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/revision-tags.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/role.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/rolebinding.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/service.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/serviceaccount.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.13.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.14.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.15.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.16.yaml
istio-1.16.1/manifests/charts/istio-control/istio-discovery/templates/validatingwebhookconfiguration.yaml
istio-1.16.1/manifests/charts/istio-operator/Chart.yaml
istio-1.16.1/manifests/charts/istio-operator/values.yaml
istio-1.16.1/manifests/charts/istio-operator/crds/crd-operator.yaml
istio-1.16.1/manifests/charts/istio-operator/files/gen-operator.yaml
istio-1.16.1/manifests/charts/istio-operator/templates/clusterrole_binding.yaml
istio-1.16.1/manifests/charts/istio-operator/templates/clusterrole.yaml
istio-1.16.1/manifests/charts/istio-operator/templates/crds.yaml
istio-1.16.1/manifests/charts/istio-operator/templates/deployment.yaml
istio-1.16.1/manifests/charts/istio-operator/templates/service_account.yaml
istio-1.16.1/manifests/charts/istio-operator/templates/service.yaml
istio-1.16.1/manifests/charts/istiod-remote/Chart.yaml
istio-1.16.1/manifests/charts/istiod-remote/NOTES.txt
istio-1.16.1/manifests/charts/istiod-remote/values.yaml
istio-1.16.1/manifests/charts/istiod-remote/files/gateway-injection-template.yaml
istio-1.16.1/manifests/charts/istiod-remote/files/injection-template.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/clusterrole.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/clusterrolebinding.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/configmap.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/crd-all.gen.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/crd-operator.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/default.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/endpoints.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/istiod-injector-configmap.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/mutatingwebhook.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/reader-clusterrole.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/reader-clusterrolebinding.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/reader-serviceaccount.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/role.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/rolebinding.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/serviceaccount.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/services.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/telemetryv2_1.13.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/telemetryv2_1.14.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/telemetryv2_1.15.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/telemetryv2_1.16.yaml
istio-1.16.1/manifests/charts/istiod-remote/templates/validatingwebhookconfiguration.yaml
istio-1.16.1/manifests/examples/customresource/istio_v1alpha1_istiooperator_cr.yaml
istio-1.16.1/manifests/examples/user-gateway/ingress-gateway-only.yaml
istio-1.16.1/manifests/profiles/ambient.yaml
istio-1.16.1/manifests/profiles/default.yaml
istio-1.16.1/manifests/profiles/demo.yaml
istio-1.16.1/manifests/profiles/empty.yaml
istio-1.16.1/manifests/profiles/external.yaml
istio-1.16.1/manifests/profiles/minimal.yaml
istio-1.16.1/manifests/profiles/openshift.yaml
istio-1.16.1/manifests/profiles/preview.yaml
istio-1.16.1/manifests/profiles/remote.yaml
istio-1.16.1/samples/README.md
istio-1.16.1/samples/addons/grafana.yaml
istio-1.16.1/samples/addons/jaeger.yaml
istio-1.16.1/samples/addons/kiali.yaml
istio-1.16.1/samples/addons/prometheus.yaml
istio-1.16.1/samples/addons/README.md
istio-1.16.1/samples/addons/extras/prometheus_vm_tls.yaml
istio-1.16.1/samples/addons/extras/prometheus_vm.yaml
istio-1.16.1/samples/addons/extras/prometheus-operator.yaml
istio-1.16.1/samples/addons/extras/skywalking.yaml
istio-1.16.1/samples/addons/extras/zipkin.yaml
istio-1.16.1/samples/bookinfo/build_push_update_images.sh
istio-1.16.1/samples/bookinfo/demo-profile-no-gateways.yaml
istio-1.16.1/samples/bookinfo/README.md
istio-1.16.1/samples/bookinfo/swagger.yaml
istio-1.16.1/samples/bookinfo/gateway-api/bookinfo-gateway.yaml
istio-1.16.1/samples/bookinfo/gateway-api/route-all-v1.yaml
istio-1.16.1/samples/bookinfo/gateway-api/route-reviews-50-v3.yaml
istio-1.16.1/samples/bookinfo/gateway-api/route-reviews-v1.yaml
istio-1.16.1/samples/bookinfo/gateway-api/route-reviews-v3.yaml
istio-1.16.1/samples/bookinfo/networking/bookinfo-gateway.yaml
istio-1.16.1/samples/bookinfo/networking/certmanager-gateway.yaml
istio-1.16.1/samples/bookinfo/networking/destination-rule-all-mtls.yaml
istio-1.16.1/samples/bookinfo/networking/destination-rule-all.yaml
istio-1.16.1/samples/bookinfo/networking/destination-rule-reviews.yaml
istio-1.16.1/samples/bookinfo/networking/egress-rule-google-apis.yaml
istio-1.16.1/samples/bookinfo/networking/fault-injection-details-v1.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-all-v1.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-details-v2.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-ratings-db.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-ratings-mysql-vm.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-ratings-mysql.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-ratings-test-abort.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-ratings-test-delay.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-reviews-50-v3.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-reviews-80-20.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-reviews-90-10.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-reviews-jason-v2-v3.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-reviews-test-v2.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-reviews-v2-v3.yaml
istio-1.16.1/samples/bookinfo/networking/virtual-service-reviews-v3.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-certificate.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-db.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-details-v2.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-details.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-ingress.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-mysql.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-ratings-discovery.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-ratings-v2-mysql-vm.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-ratings-v2-mysql.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-ratings-v2.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-ratings.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-reviews-v2.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo-versions.yaml
istio-1.16.1/samples/bookinfo/platform/kube/bookinfo.yaml
istio-1.16.1/samples/bookinfo/platform/kube/cleanup.sh
istio-1.16.1/samples/bookinfo/platform/kube/productpage-nodeport.yaml
istio-1.16.1/samples/bookinfo/platform/kube/README.md
istio-1.16.1/samples/bookinfo/policy/productpage_envoy_ratelimit.yaml
istio-1.16.1/samples/bookinfo/src/build-services.sh
istio-1.16.1/samples/bookinfo/src/mongodb/ratings_data.json
istio-1.16.1/samples/bookinfo/src/mongodb/script.sh
istio-1.16.1/samples/bookinfo/src/productpage/requirements.txt
istio-1.16.1/samples/bookinfo/src/productpage/test-requirements.txt
istio-1.16.1/samples/bookinfo/src/ratings/package.json
istio-1.16.1/samples/certs/ca-cert-alt.pem
istio-1.16.1/samples/certs/ca-cert.pem
istio-1.16.1/samples/certs/ca-key-alt.pem
istio-1.16.1/samples/certs/ca-key.pem
istio-1.16.1/samples/certs/cert-chain-alt.pem
istio-1.16.1/samples/certs/cert-chain.pem
istio-1.16.1/samples/certs/generate-workload.sh
istio-1.16.1/samples/certs/README.md
istio-1.16.1/samples/certs/root-cert-alt.pem
istio-1.16.1/samples/certs/root-cert.pem
istio-1.16.1/samples/certs/workload-bar-cert.pem
istio-1.16.1/samples/certs/workload-bar-key.pem
istio-1.16.1/samples/certs/workload-foo-cert.pem
istio-1.16.1/samples/certs/workload-foo-key.pem
istio-1.16.1/samples/cicd/skaffold/README.md
istio-1.16.1/samples/cicd/skaffold/skaffold.yaml
istio-1.16.1/samples/custom-bootstrap/custom-bootstrap.yaml
istio-1.16.1/samples/custom-bootstrap/example-app.yaml
istio-1.16.1/samples/custom-bootstrap/README.md
istio-1.16.1/samples/extauthz/ext-authz.yaml
istio-1.16.1/samples/extauthz/local-ext-authz.yaml
istio-1.16.1/samples/extauthz/README.md
istio-1.16.1/samples/external/aptget.yaml
istio-1.16.1/samples/external/github.yaml
istio-1.16.1/samples/external/pypi.yaml
istio-1.16.1/samples/external/README.md
istio-1.16.1/samples/grpc-echo/grpc-echo.yaml
istio-1.16.1/samples/grpc-echo/README.md
istio-1.16.1/samples/health-check/liveness-command.yaml
istio-1.16.1/samples/health-check/liveness-http-same-port.yaml
istio-1.16.1/samples/helloworld/gen-helloworld.sh
istio-1.16.1/samples/helloworld/helloworld-gateway.yaml
istio-1.16.1/samples/helloworld/helloworld.yaml
istio-1.16.1/samples/helloworld/loadgen.sh
istio-1.16.1/samples/helloworld/README.md
istio-1.16.1/samples/helloworld/gateway-api/helloworld-gateway.yaml
istio-1.16.1/samples/helloworld/gateway-api/helloworld-route.yaml
istio-1.16.1/samples/helloworld/gateway-api/helloworld-versions.yaml
istio-1.16.1/samples/helloworld/gateway-api/README.md
istio-1.16.1/samples/helloworld/src/build_service.sh
istio-1.16.1/samples/helloworld/src/requirements.txt
istio-1.16.1/samples/httpbin/httpbin-gateway.yaml
istio-1.16.1/samples/httpbin/httpbin-nodeport.yaml
istio-1.16.1/samples/httpbin/httpbin-vault.yaml
istio-1.16.1/samples/httpbin/httpbin.yaml
istio-1.16.1/samples/httpbin/README.md
istio-1.16.1/samples/httpbin/sample-client/fortio-deploy.yaml
istio-1.16.1/samples/jwt-server/jwt-server.yaml
istio-1.16.1/samples/jwt-server/src/Makefile
istio-1.16.1/samples/kind-lb/README.md
istio-1.16.1/samples/kind-lb/setupkind.sh
istio-1.16.1/samples/multicluster/expose-istiod-https.yaml
istio-1.16.1/samples/multicluster/expose-istiod.yaml
istio-1.16.1/samples/multicluster/expose-services.yaml
istio-1.16.1/samples/multicluster/gen-eastwest-gateway.sh
istio-1.16.1/samples/multicluster/README.md
istio-1.16.1/samples/open-telemetry/otel.yaml
istio-1.16.1/samples/open-telemetry/README.md
istio-1.16.1/samples/operator/cni-on.yaml
istio-1.16.1/samples/operator/default-install.yaml
istio-1.16.1/samples/operator/pilot-advanced-override.yaml
istio-1.16.1/samples/operator/pilot-k8s.yaml
istio-1.16.1/samples/operator/values-global.yaml
istio-1.16.1/samples/operator/values-pilot.yaml
istio-1.16.1/samples/ratelimit/rate-limit-service.yaml
istio-1.16.1/samples/security/psp/sidecar-psp.yaml
istio-1.16.1/samples/security/spire/istio-spire-config.yaml
istio-1.16.1/samples/security/spire/README.md
istio-1.16.1/samples/security/spire/sleep-spire.yaml
istio-1.16.1/samples/security/spire/spire-quickstart.yaml
istio-1.16.1/samples/sleep/README.md
istio-1.16.1/samples/sleep/sleep-vault.yaml
istio-1.16.1/samples/sleep/sleep.yaml
istio-1.16.1/samples/tcp-echo/README.md
istio-1.16.1/samples/tcp-echo/tcp-echo-20-v2.yaml
istio-1.16.1/samples/tcp-echo/tcp-echo-all-v1.yaml
istio-1.16.1/samples/tcp-echo/tcp-echo-services.yaml
istio-1.16.1/samples/tcp-echo/tcp-echo.yaml
istio-1.16.1/samples/wasm_modules/README.md
istio-1.16.1/samples/wasm_modules/header_injector/Makefile
istio-1.16.1/samples/websockets/app.yaml
istio-1.16.1/samples/websockets/README.md
istio-1.16.1/samples/websockets/route.yaml
istio-1.16.1/tools/_istioctl
istio-1.16.1/tools/istioctl.bash
istio-1.16.1/tools/certs/common.mk
istio-1.16.1/tools/certs/Makefile.k8s.mk
istio-1.16.1/tools/certs/Makefile.selfsigned.mk
istio-1.16.1/tools/certs/README.md
